/* index 반응형 */
@media screen and (max-width:1450px){
    /* 02 research */
    #wrap .research .container {width:1200px;}
    /* 03 drug  */
    #wrap .drug .container {width:1200px;}
    #wrap .drug .container .contents a {height:250px;}
    /* 04 news */
    #wrap .news .container {width:1200px;}
    /* 05 contribution */
    #wrap .contribution .container {width:1200px;}
    #wrap .contribution .container .contents #contribution_slide .swiper-wrapper .swiper-slide a .photo_wrap {height:350px;}
}/* 1450 end */
@media screen and (max-width:1250px){
    /* 02 research */
    #wrap .research .container {width:1000px;}
    #wrap .research .container .contents .left {width:40%}
    #wrap .research .container .contents .right {width:60%}
    /* 03 drug  */
    #wrap .drug .container {width:1000px;}
    #wrap .drug .container .contents {
        flex-flow:row wrap;
    }
    #wrap .drug .container .contents a {
        width:calc(33% - 30px / 3); height:300px;
        margin-right:10px; margin-bottom:10px;
    }
    #wrap .drug .container .contents a:nth-child(3) {margin-right:0;}
    /* 04 news */
    #wrap .news .container {width:1000px;}
    /* 05 contribution */
    #wrap .contribution .container {width:1000px;}
    #wrap .contribution .container .contents #contribution_slide .swiper-wrapper .swiper-slide a .photo_wrap {height:300px;}
}/* 1250 end */
@media screen and (max-width:1050px){
    /* 01 visual */
    #wrap .visual  #visual_slide  .swiper-wrapper .swiper-slide h1 span:first-child {font-size:3rem;}
    #wrap .visual  #visual_slide  .swiper-wrapper .swiper-slide h1 em {font-size:3.5rem;}
    #wrap .visual  #visual_slide  .swiper-wrapper .swiper-slide h1 span:last-child {font-size:1.3rem;}
    /* 02 research */
    #wrap .research .container {width:800px;}
    #wrap .research .container .contents .left {display:none;}
    #wrap .research .container .contents .right {width:100%}
    /* 03 drug  */
    #wrap .drug .container {width:800px;}
    /* 04 news */
    #wrap .news .bg_box {display:none;}
    #wrap .news .container {width:800px; flex-flow:column nowrap;}
    #wrap .news .container .title {
        width:100%;
        display:flex; justify-content:space-between; align-items:flex-end;
        margin-bottom:60px;
    }
    #wrap .news .container .title h2 {margin-bottom:0;}
    #wrap .news .container .contents {width:90%; margin:0 auto;}
    /* 05 contribution */
    #wrap .contribution .container {width:800px;}
    #wrap .contribution .container .contents #contribution_slide .swiper-wrapper .swiper-slide a .photo_wrap {height:300px;}
}/* 1050 end */
@media screen and (max-width:830px){
    /* 02 research */
    #wrap .research .container {width:calc(100% - 30px);}
    /* 03 drug  */
    #wrap .drug .container {width:calc(100% - 30px);}
    /* 04 news */
    #wrap .news .container {width:calc(100% - 30px);}
    /* 05 contribution */
    #wrap .contribution .container {width:calc(100% - 30px)}
    #wrap .contribution .container .contents #contribution_slide .swiper-wrapper .swiper-slide a .photo_wrap {height:350px;}
}/* 830 end */
@media screen and (max-width:700px){
    /* 01 visual */
    #wrap .visual  #visual_slide  .swiper-wrapper .swiper-slide h1 span:first-child {font-size:2.5rem; margin-bottom:15px;}
    #wrap .visual  #visual_slide  .swiper-wrapper .swiper-slide h1 em {font-size:3rem; margin-bottom:15px;}
    #wrap .visual  #visual_slide  .swiper-wrapper .swiper-slide h1 span:last-child {font-size:1rem; line-height:25px;}
    /* 02 research */
    #wrap .research .container .contents .right .research_con {height:120px; padding:0 20px;}
    #wrap .research .container .contents .right .research_con:nth-child(2) {height:165px; padding:0 20px;}
    #wrap .research .container .contents .right .research_con .txt {width:100%;}
    #wrap .research .container .contents .right .research_con .txt h3 {font-size:1.5rem; margin-bottom:7px;}
    #wrap .research .container .contents .right .research_con .icon {display:none !important;}
    #wrap .research .container .contents .right .research_con .hover {display:none !important;}
}/* 700 end */
@media screen and (max-width:630px){
    /* 03 drug */
    #wrap .drug .container .contents a {height:250px;}
    #wrap .drug .container .contents a h3 {font-size:1.5rem;}
    #wrap .drug .container .contents a .hover {font-size:1.3rem;}
}/* 630 end */
@media screen and (max-width:550px){
    /* 02 research */
    #wrap .research .container .title h2 em {font-size:1.5rem;}
    #wrap .research .container .title h2 span {font-size:1.25rem;}
    /* 03 drug */
    #wrap .drug .container .title h2 em {font-size:1.5rem}
    #wrap .drug .container .title h2 span {font-size:1.25rem;}
    /* 04 news */
    #wrap .news .container .title h2 em {font-size:1.5rem}
    #wrap .news .container .title h2 span {font-size:1.25rem;}
    /* 05 contribution */
    #wrap .contribution .container .title h2 em {font-size:1.5rem}
    #wrap .contribution .container .title h2 span {font-size:1.25rem;}
}/* 550 end */
@media screen and (max-width:520px){
    /* 03 drug */
    #wrap .drug .container .contents a {height:220px;}
    #wrap .drug .container .contents a h3 {font-size:1.3rem;}
    #wrap .drug .container .contents a .hover {font-size:1.1rem;}
}/* 520 end */
@media screen and (max-width:470px){
    /* 02 research */
    #wrap .research .container .title h2 em {font-size:1.25rem;}
    #wrap .research .container .title h2 span {font-size:1rem;}
    #wrap .research .container .title .more span {font-size:1rem;}
    /* 03 drug */
    #wrap .drug .container .title h2 em {font-size:1.25rem}
    #wrap .drug .container .title h2 span {font-size:1rem;}
    #wrap .drug .container .title .more span {font-size:1rem;}
    /* 04 news */
    #wrap .news .container .title h2 em {font-size:1.25rem}
    #wrap .news .container .title h2 span {font-size:1rem; width:60%;}
    #wrap .news .container .title .more span {font-size:1rem;}
    /* 05 contribution */
    #wrap .contribution .container .title h2 em {font-size:1.25rem}
    #wrap .contribution .container .title h2 span {font-size:1rem;}
    #wrap .contribution .container .title .more span {font-size:1rem;}

}/* 470 end */
@media screen and (max-width:450px){
    /* 01 visual */
    #wrap .visual  #visual_slide  .swiper-wrapper .swiper-slide h1 span:first-child {font-size:2rem; margin-bottom:15px; letter-spacing:-0.06em;}
    #wrap .visual  #visual_slide  .swiper-wrapper .swiper-slide h1 em {font-size:2.5rem; margin-bottom:15px; letter-spacing:-0.06em;}
    #wrap .visual  #visual_slide  .swiper-wrapper .swiper-slide h1 span:last-child {font-size:1rem; line-height:25px; letter-spacing:-0.06em;}
    /* 03 drug */
    #wrap .drug .container .contents a {height:180px;}
    #wrap .drug .container .contents a h3 {font-size:1rem; margin-bottom:15px;}
    #wrap .drug .container .contents a .hover {font-size:0.9rem;}
    #wrap .drug .container .contents a .icon_show {width:50px; height:50px;}
    #wrap .drug .container .contents a .icon_hover {width:50px; height:50px;}
}/* 450 end */
@media screen and (max-width:420px){
    /* 02 research */
    #wrap .research .container .contents .right .research_con .txt h3 {font-size:1.2rem; margin-bottom:10px;}
}/* 420 end */
@media screen and (max-width:400px) {
    /* 01 visual */
    #wrap .visual  #visual_slide  .swiper-wrapper .swiper-slide h1 span:first-child {font-size:1.5rem; margin-bottom:10px;}
    #wrap .visual  #visual_slide  .swiper-wrapper .swiper-slide h1 em {font-size:2rem; margin-bottom:10px;}
    #wrap .visual  #visual_slide  .swiper-wrapper .swiper-slide h1 span:last-child {font-size:1rem; line-height:20px;}
}
@media screen and (max-width:390px){
    /* 03 drug */
    #wrap .drug .container .contents a {height:150px}
    #wrap .drug .container .contents a h3 {font-size:0.9rem; margin-bottom:15px;}
    #wrap .drug .container .contents a .hover {font-size:0.8rem; letter-spacing:-0.08em;}
}/* 390 end */